
body {
  font-family: 'Lato', sans-serif;  
  background-color: #eeeeee;
}

h2 {
  font-size: 20px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  margin-bottom: 25px;
}
h2.big {
  text-transform: uppercase;
}

hr {
  border: 1px solid #7C9CAA;
  margin: 0px;
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  color: black;
}

a:hover {
  color: #7C9CAA;
}

#election-interactive {
  padding-top: 25px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/*******************************************************************************************/
/** POV PICKER **/

#pov-options,
#pov-names {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#pov-options > input[type="radio"] {
  display: none;
}

#pov-options > label,
#pov-names > label {
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
}

#pov-names > label {
  padding-top: 5px;
  width: 54px;
  font-size: 14px;
}

#pov-options > label {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 26px;
  border: 2px solid #FFFFFF;
  opacity: 0.5;
}

#pov-options > label:hover,
#pov-options > label.selected {
  opacity: 1;
  border: 2px solid #333333;
  cursor: pointer;
}

#pov-options > label:last-child,
#pov-names > label:last-child {
  margin-right: 0px;
}

#pov-option-left-label { background-color: #0571b0; color: #0571b0; }
#pov-option-left-name { color: #0571b0; }
#pov-option-center-left-label { background-color: #92c5de; color: #92c5de; }
#pov-option-center-left-name { color: #92c5de; }
#pov-option-center-label { background-color: #666666; color: #666666; }
#pov-option-center-name { color: #666666; }
#pov-option-center-right-label { background-color: #f4a582; color: #f4a582; }
#pov-option-center-right-name { color: #f4a582; }
#pov-option-right-label { background-color: #ca0020; color: #ca0020; }
#pov-option-right-name { color: #ca0020; }

#pov-option-hover {
  display: none;
  position: absolute;
  font-size: 14px;
  padding-top: 5px;
  width: 70px;
  text-align: center;
}

/*******************************************************************************************/
/** THEME PICKER **/


/*******************************************************************************************/
/** PLATFORM STORIES **/

.platform {
  display:inline-block;
  vertical-align: top;
  width:30%;
  margin-right: 20px;
}

.platform:last-child {
  margin-right: 0px;
}

ul.story-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.story {
  margin-bottom: 25px;
}

.story:last-child {
  margin-bottom: 0px;
}

.story h3 {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 5px;
}

.story .media-source {
  vertical-align: center;
  font-size: 15px;
  font-weight: 100;
}

.story .media-source img {
  margin-right: 10px;
  vertical-align: middle;
}

.story .story-influence {
  float: right;
  text-align: right;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 100;
}

/*******************************************************************************************/
/** ON DESKTOP **/

@media only screen and (min-width: 802px) {

  .platform {
    opacity: 1;
  }

  #pov-options > label,
  #pov-names > label {
    margin-right: 60px;
  }

}

/*******************************************************************************************/
/** ON MOBILE **/

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-width: 640px){
  #stories {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 1000px;
  }

  #platforms {
    position: absolute;
    width: 1010px;
  }

  .platform {
    width: 320px;
    opacity: 0.2;
  }
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  // do 
}

@media only screen and (max-width: 801px) {

  

}
